<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="info" />
      <!-- <appender-ref ref="LogFileAppender_ncm"/>   -->

      <!-- <appender-ref ref="LogFileAppender_updater"/>   -->
    </root>
    <logger name="DEFAULT_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_default" />
    </logger>
    <logger name="SERVER_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_serverlib" />
    </logger>
    <logger name="API_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_api"/>
    </logger>
    <logger name="UI_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_UI"/>
    </logger>
    <logger name="UPDATER_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_updater"/>
    </logger>
    
    <appender name="LogFileAppender_default" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\huawei\Huawei.SCCMPlugin.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>
    
    <appender name="LogFileAppender_serverlib" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\huawei\Huawei.server.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender_api" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\huawei\Huawei.API.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--lockingModel type="log4net.Appender.ConsoleAppender+MinimalLock" /-->
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender_UI" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\huawei\Huawei.UI.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender_updater" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\huawei\Huawei.updater.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>
    
  </log4net>
</configuration>