<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets>
        <target
          name="default"
          xsi:type="File"
          encoding="UTF-8"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
          fileName="${environment:variable=PUBLIC}\Huawei\SCCM Plugin\Logs\Huawei.SCCMPlugin.log"
          archiveAboveSize ="102400000"
          maxArchiveFiles="10"/>
        <target
          name="api"
          xsi:type="File"
          encoding="UTF-8"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
          fileName="${environment:variable=PUBLIC}\Huawei\SCCM Plugin\Logs\Huawei.API.log"
          archiveAboveSize ="102400000"
          maxArchiveFiles="10"/>
        <target
          name="ui"
          xsi:type="File"
          encoding="UTF-8"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
          fileName="${environment:variable=PUBLIC}\Huawei\SCCM Plugin\Logs\Huawei.UI.log"
          archiveAboveSize ="102400000"
          maxArchiveFiles="10"/>
        <target
          name="update"
          xsi:type="File"
          encoding="UTF-8"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
          fileName="${environment:variable=PUBLIC}\Huawei\SCCM Plugin\Logs\Huawei.updater.log"
          archiveAboveSize ="102400000"
          maxArchiveFiles="10"/>
    </targets>
    
    <rules>
        <logger name="DEFAULT_LOG" minlevel="Debug" writeTo="default" />
        <logger name="API_LOG" minlevel="Debug" writeTo="api" />
        <logger name="UI_LOG" minlevel="Debug" writeTo="ui" />
        <logger name="UPDATER_LOG" minlevel="Debug" writeTo="update" />
    </rules>
</nlog>